
<!DOCTYPE html>
<html ng-app="asiiuApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/Content/css/kendo/kendo.common-material.min.css" rel="stylesheet" />
    <link href="/Content/css/kendo/kendo.material.min.css" rel="stylesheet" />
   
    <link rel="stylesheet" href="/Content/css/style.css">

    <link href="/Content/css/ui-grid/ui-grid.min.css" rel="stylesheet" />
    <link href="/Content/img/favicon.ico" rel="SHORTCUT ICON" type="image/gif" />

    <title>АСИиУ Мониторинг заводов</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6aTNWCc13m64f6ZfwHMCjc0soXAZAaUE&callback=initMap" async defer></script>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-touch.min.js"></script>
    
    <script src="/Scripts/kendo.all.min.js"></script>

    <script src="/Scripts/cultures/kendo.culture.ru-RU.min.js"></script>

    <script src="/Scripts/ui-grid.min.js"></script>
    <script src='/Scripts/lodash.js'></script>
    
    <script src='/Scripts/angular-simple-logger.js'></script>
    <script src='/Scripts/angular-google-maps.js'></script>

    <script src="/Scripts/objects.js"></script>

    <script src="/Scripts/moment.js"></script>

    
    <script src="/AngularJs/asiiuApp.js"></script>

    <script src="/AngularJs/Services/organisationService.js"></script>
    <script src="/AngularJs/Services/factoryService.js"></script>
    <script src="/AngularJs/Services/boxesService.js"></script>
    <script src="/AngularJs/Services/dateTimeService.js"></script>

    <script src="/AngularJs/Filters/mydate.js"></script>

    <script src="/AngularJs/Controllers/asiiu-controller.js"></script>
   
</head>
<body ng-controller="AsiiuController">
    <div class="header"></div>
    <div class="content">
        <div class="header2">
            <div class="logo"></div>
            <h1>Система мониторинга заводов</h1><span>Версия {{Version}}</span>
            <div class="head_links">
                <a href="/Organisation">Администрирование</a>
                <a href="/Account/Logout">test999 [Выйти]</a>
            </div>
        </div>

        
        

<div class="cont_left" id="aside1">
    <nav>
        <div ng-if="OrganisationsAreLoading">Загрузка...</div>

        <ul ng-repeat="organisation in Organisations" ng-click="GetFactoriesListByOrganisationId(organisation.Id)" ng-cloak>

            <label>

        <input type="checkbox" name="checkbox" class="navItem1check" />
           <div class="navItem1">{{organisation.Title}}</div>
           <input type="checkbox" name="checkbox" class="navItem1check" />
           
           <div class="allSubs">

            <div class="sub_nav" ng-repeat="factory in organisation.Factories" ng-click="LoadBoxesListByFactory(factory)">
                <label>
                <input type="checkbox" name="checkbox" class="navItem2check"/>
                    <div class="navItem2">{{factory.Title}}</div>
                    <input type="checkbox" name="checkbox" class="navItem2check"/>
                    
                <div class="sub_sub_nav" ng-repeat="box in factory.Boxes" ng-click="SetSelectedEntities(organisation, factory, box)">
                   
                        <a href="" ng-class="{'sub_sub_active' : box == SelectedBox}">
                            Шкаф сер.№ {{box.SerialNumber}}

                            <div class="icons">
                                <img ng-if="box.HasOperatingLines" src="/Content/css/ic_play.png" title="Идет производство на линиях"/>
                                <img ng-if="!box.HasOperatingLines" src="/Content/css/ic_stop_gray.png" title="Нет активных линий"/>
                                <img ng-if="box.HasDeviceErrors" src="/Content/css/ic_error_device.png" title="Имеются неисправности в устройствах"/>
                                <img ng-if="box.HasFlkErrors" src="/Content/css/ic3.png" title="Имеются ошибки ФЛК в суточных данных"/>
                                <img ng-if="box.IsAlive" src="/Content/css/ic_connect.png" title="Онлайн"/>
                                <img ng-if="!box.IsAlive" src="/Content/css/ic1.png" title="Оффлайн"/>
                            </div>
                        </a>
                   
                </div>
                  </label>
            </div>

           </div>
            
            </label>

        </ul>

    </nav>


    <div class="alert alert-danger" ng-if="LoadingOrganisationsError">Произошла ошибка. Не удалось загрузить организации</div>
</div> 
        <div class="cont_right" ng-cloak>
            


<h1>{{SelectedOrganisation.Title}} / <strong>{{SelectedFactory.Title}}</strong></h1>


<div class="map1" id="map" ng-mouseover="OnMapMouseOver()" ng-mouseleave="OnMapMouseLeave()">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" ng-cloak>
        <ui-gmap-markers models="markers" coords="'self'" modelsbyref="false" options="'options'">
        </ui-gmap-markers> />
    </ui-gmap-google-map>
</div>




<div class="case_tit">
    <div>
        Шкафы:
        <div ng-repeat="box in SelectedFactory.Boxes" style="display: inline-block">
            <li>               
                <a ng-class="{'case_active' : box == SelectedBox}" style="cursor: pointer;" ng-click="OnLeftMenuBoxClicked(SelectedOrganisation, SelectedFactory, box)">
                    {{box.SerialNumber}}
                </a>
                <div class="{{SetBoxIconsInContent(box.IsAlive)}}"></div>
            </li>
        </div>
    </div>
    <span>Номер:<strong>{{SelectedBox.SerialNumber}}</strong></span>
    <span>Версия ПО:<strong>{{SelectedBox.BusinessLogicVersion}}</strong></span>
    <span>Данные обновлены, время:<strong>{{SelectedBox.LastSynchronisationDate | mydate | date: 'HH:mm:ss' }}</strong> дата:<strong>{{SelectedBox.LastSynchronisationDate | mydate | date: 'dd.MM.yyyy'}}</strong></span>
</div>




<form>
    <input type="checkbox" name="checkbox" class="openblock_check" id="block1_lines" />
    <div class="block1 block1_lines">
        <div class="block1_head">
            <div class="block1_title">ЛИНИИ - Всего {{SelectedBox.Lines.length}}</div>

            
            
            <label for="block1_lines" class="block1_open"></label>
            <div class="block1_errorline"></div>
        </div>
        <div class="block1_table">
            <div class="block1_row block1_row_top">
                <div class="block1_cell"><span>Название линии</span></div>
                <div class="block1_cell"><span>Текущий режим</span></div>
                <div class="block1_cell"><span>Текущий продукт</span></div>
                <div class="block1_cell"><span>Режим</span></div>
                <div class="block1_cell"><span>Итоговое количество ВС раствора</span></div>
                <div class="block1_cell"><span>Итоговое количество БВ раствора</span></div>
                <div class="block1_cell"><span>Текущее количество ВС раствора</span></div>
                <div class="block1_cell"><span>Текущее количество БВ раствора</span></div>
                <div class="block1_cell"><span>Крепость</span></div>
                <div class="block1_cell"><span>Плотность</span></div>
                <div class="block1_cell"><span>Температура,<br> °C</span></div>
                <div class="block1_cell"><span>Текущее количество бутылок</span></div>
                <div class="block1_cell"><span>Общее количество бутылок</span></div>
            </div>

            <div ng-show="LinesAreLoading">Загрузка...</div>
            <div ng-show="LinesLoadingError">Произошла ошибка при загрузке линий</div>

            <div class="block1_row" ng-repeat="line in SelectedBox.Lines" >
                <div class="block1_cell"><span>{{line.Title}}</span></div>
                <div class="block1_cell"><span>{{line.CurrentModeTitle}}</span></div>
                <div class="block1_cell"><span>{{line.CurrentProductTitle}}</span></div>
                <div class="block1_cell"><span>{{line.AqueousAlcoholicSolutionTotal}}</span></div>
                <div class="block1_cell"><span>{{line.AnhydrousAlcoholicSolutionTotal}}</span></div>
                <div class="block1_cell"><span>{{line.AqueousAlcoholicSolutionCurrent}}</span></div>                
                <div class="block1_cell"><span>{{line.AnhydrousAlcoholicSolutionCurrent}}</span></div>
                <div class="block1_cell"><span>{{line.CurrentProof}}</span></div>
                <div class="block1_cell"><span>{{line.CurrentDensity}}</span></div>
                <div class="block1_cell"><span>{{line.CurrentTemperature}}</span></div>
                <div class="block1_cell"><span>{{line.BottleCountCurrent}}</span></div>
                <div class="block1_cell"><span>{{line.BottleCountTotal}}</span></div>
            </div>
        </div>
    </div>
</form>

<form>
    <input type="checkbox" name="checkbox" class="openblock_check" id="block1_devices" checked="" />
    <div class="block1 block1_devices">
        <div class="block1_head">
            <div class="block1_title">УСТРОЙСТВА - {{DevicesInfoTitleByCountOfErrorDevices(CountOfErrorDevices(SelectedBox.Devices))}}</div>            
            <div class="{{BlockTitleErrorIcon(CountOfErrorDevices(SelectedBox.Devices))}}"></div>
            <label for="block1_devices" class="block1_open"></label>
        </div>
        <div class="block1_table">
            <div class="block1_row block1_row_top">
                <div class="block1_cell"><span>Название</span></div>
                <div class="block1_cell"><span>Статус</span></div>
                <div class="block1_cell"><span>Информация</span></div>
            </div>

            <div ng-show="DevicesAreLoading"></div>
            <div ng-show="DevicesLoadingError"></div>
            <div class="block1_row {{ErrorRowBackground(device.IsError)}}" ng-repeat="device in SelectedBox.Devices">
                <div class="block1_cell"><span>{{device.Title}}</span></div>
                <div class="block1_cell"><span>{{DeviceHasErrorToText(device.HasErrors)}}</span></div>
                <div class="block1_cell"><span>{{device.CurrentStatus}}</span></div>
            </div>
        </div>
    </div>
</form>






<form>
    <input type="checkbox" name="checkbox" class="openblock_check" id="block1_logs" />
    <div class="block1 block1_logs">
        <div class="block1_head">
            <div class="block1_title">Логи ({{SelectedBox.Logs.length}} событий) - за {{DurationToTitleText(CurrentUnitOfTime)}} </div>
            <label for="block1_logs" class="block1_open"></label>
        </div>
        <div class="block_calendar">
            <ul>
                <li>
                    <div class="block_calendar_days">                      
                        <a href="" ng-class="{'block_calendar_active' : CurrentUnitOfTime == DurationEnum.Month}" ng-click="CurrentUnitOfTimeChanged(DurationEnum.Month)">Месяц</a>
                        <a href="" ng-class="{'block_calendar_active' : CurrentUnitOfTime == DurationEnum.Week}" ng-click="CurrentUnitOfTimeChanged(DurationEnum.Week)">Неделя</a>
                        <a href="" ng-class="{'block_calendar_active' : CurrentUnitOfTime == DurationEnum.Day}" ng-click="CurrentUnitOfTimeChanged(DurationEnum.Day)">За сутки</a>
                    </div>
                </li>
                <li>
                    <ul>
                        <li>Период:</li>
                        <li><input kendo-date-time-picker ng-model="LogsStartTime" k-options="DatePickerOptions" ng-change="DateChanged()" class="form_calendar" /></li>
                        <li>&#8211;</li>
                        <li><input kendo-date-time-picker ng-model="LogsEndTime" k-options="DatePickerOptions" ng-change="DateChanged()" class="form_calendar" /></li>
                        
                        <li><a class="calendar_but" href="" ng-click="CurrentUnitOfTimeChanged(DurationEnum.Any)">Показать</a></li>
                    </ul>
                </li>
                <li><a href="" class="calendar_logexp">Выгрузить логи</a></li>
            </ul>
        </div>
        <div class="block1_table">
            <div class="block1_row block1_row_top">
                <div class="block1_cell"><span>Дата</span></div>
                <div class="block1_cell"><span>Сообщение</span></div>
            </div>
            <div class="loading" ng-show="BoxLogsAreLoading">Загрузка...</div>
            <div class="" ng-show="BoxLogsLoadingError">Произошла ошибка при загрузке логов</div>

            <div class="block1_row" ng-repeat="log in SelectedBox.Logs">
                <div class="block1_cell"><span>{{log.Date | mydate | date: 'dd.MM.yyyy HH:mm'}}</span></div>
                <div class="block1_cell"><span>{{log.Message}}</span></div>
            </div>          
        </div>
    </div>
</form>



 
        </div>
    </div>
   
    <script src="/Scripts/asiiu-own-style.js"></script> 
    
</body>
</html>
